@page
@model NewFAHP.App.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<table>
    <thead>
        <tr>
            <th style="text-align: center">Criteria</th><th style="text-align: center">Weights</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 6; i++)
        {
            <tr>
                <td><p>@Model.Criteria[i]</p></td><td><p>@Program.Query.Weights[i]</p></td>
            </tr>
        }
    </tbody>
</table>

<h4>Confidence Level: @Model.ConfLevel</h4>
<h4>Standard Deviation: @Model.StdDev</h4>